.game-tabs {
  padding: 10px;
}
.tab-content {
  margin-top: 10px;
}
form .require::after {
  content: "*";
  float: right;
  color: brown;
}
.lottery-info {
  display: inline-block;
  vertical-align: top;
}

.lottery-info p {
  margin: 0;
  line-height: 1.3;
}
.form-inline {
  margin: 0;
}

.panel-heading .form-control {
  display: inline-block;
  width: 180px;
}
.panel-heading,
.panel-footer {
  padding: 5px 15px;
}

.panel-heading .form-control,
.panel-footer .form-control {
  display: inline-block;
  width: 100px;
}
.game-group {
  border-bottom: 1px solid #ccc;
}
.game-group,
.site-group {
  margin-bottom: 5px;
}
.btn-link.btn-danger {
  color: #d9534f;
}

.red-packets .website-list {
  margin-top: 10px;
}
.red-packets .website-list .site-name， .red-packets .website-list .site-addr,
.red-packets .website-list .site-info,
.red-packets .website-list .site-status {
  font-size: 14px;
  line-height: 1;
}
.red-packets .website-list .operation {
  float: right;
}
.site-log {
  border-top: 1px solid #ddd;
  padding: 5px;
  margin-top: 10px;
  height: 100px;
  overflow-y: auto;
}
